* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0e5538;
    min-height: 100vh;
}

.box {
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5);
    overflow: hidden;
    border-radius: 20px;
}

.box::before {
    content: '';
    position: absolute;
    width: 200px;
    height: 140%;
    background: linear-gradient(rgb(116, 52, 233), rgb(192, 4, 176));
    animation: animate 4s infinite linear;
}

.box::after {
    content: '';
    position: absolute;
    inset: 5px;
    background: black;
    border-radius: 15px;


}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }

}



.box h1 {
    z-index: 10;


}